.footer-section{
    background: rgba(128, 128, 128, 0.235);
    padding: 30px 0;
    margin-top:50px;
    
}


.footer-content{
width: 100%;
display: flex;
align-items: start;
justify-content: space-between;
column-gap: 30px;
}
.footer-section h3{
    padding-bottom: 40px;
    font-family: "Great Vibes", cursive;
    font-size: 30px;
    color: rgb(251, 180, 47);
    line-height: .7;
}
.contact-info{
text-align: start;
}
.contact-info p{
display: flex;
align-items: center;
justify-content: start;
font-size: 16px;
padding:5px ;
}
.contact-logo{
    padding-right:10px ;
}