
/* import font */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');



/* Reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #fff;
    font-family: "Poppins", sans-serif;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
}
.container-content{
padding: 0 120px;
}
p{
    font-size: 18px;
}
 a{
    text-decoration: none;
   
}
ul{
    list-style: none;
}
.header{
    background-color: #fff;
    
    width: 100%;
    /* background: rgba(183, 183, 183, 0.388); */
    height: 100px;
    padding-top: 10px;
}

/* Logo */
.logo{
    display: inline-block;
}
.logo img{
    width: 150px;
}
.nav{
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    background-color: rgba(128, 128, 128, 0.764);
    overflow: hidden;

}
.menu a{
    display: block;
    padding: 20px;
    color: #fff;
    font-weight: 600;
    font-size: 18px;
}
.menu a:hover{
   color: rgb(253, 187, 33);
}
.nav{
    max-height: 0;
    transition: max-height .5s ease-out;
}
/* Menu Icon */
.hamb{
    cursor: pointer;
    float: right;
    padding: 40px 20px;
}/* Style label tag */

.hamb-line {
    background: #000;
    display: block;
    height: 2px;
    position: relative;
    width: 24px;

} /* Style span tag */
.hamb-line::before,
.hamb-line::after{
    background: #000;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
}
.hamb-line::before{
    top: 5px;
}
.hamb-line::after{
    top: -5px;
}
.side-menu {
    display: none;
}
.side-menu:checked ~ nav{
    max-height: 100%;
}
.side-menu:checked ~ .hamb .hamb-line {
    background: transparent;
}
.side-menu:checked ~ .hamb .hamb-line::before {
    transform: rotate(-45deg);
    top:0;
}
.side-menu:checked ~ .hamb .hamb-line::after {
    transform: rotate(45deg);
    top:0;
}

/* common section */
.common-section{
    display: flex;
    justify-content: space-between;
    align-items: start;
    gap: 10px;
    margin-top: 50px;

}
.left-section{
    width: 100%;
    
}
.right-section{
    padding: 10px;
    
}

/* Responsiveness */

@media (max-width: 560px){
.header{
    padding: 0 10px;
    
}
.nav{
    top: 100px;
}
.container-content{
    padding: 0 30px;
}
/* common section
} */
.common-section{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    gap: 10px;
    margin-top: 50px;
}
.right-section{
    padding: 0 30px;
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
}
}
@media (min-width: 768px) {
    .nav{
        max-height: none;
        top: 0;
        position: relative;
        float: right;
        width: fit-content;
        background-color: transparent;
    }
    .menu li{
        float: left;
    }
    .menu a{
        color: #000;
    }
    .menu a:hover{
        background-color: transparent;
        color: rgb(253, 187, 33);

    }

    .hamb{
        display: none;
    }
      
}