.banner-section{
    background-image: url('../images/banner2.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 100%;
    height: 500px;
    border-radius: 5px;
   

}
.banner-content{
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
    text-align: start;
}
.title{
    font-size: 40px;
    padding: 10px 0;
}
.small-text{
 
    padding: 10px 0;
    font-size: 26px;
    font-family: "Great Vibes", cursive;
}

.primary-button{
    padding: 15px 50px;
    margin-top: 30px;
    font-size: 18px;
    border-radius: 25px;
    border: 0;
    cursor: pointer;
    transition: all 0.5s ease-in;
}
.primary-button:hover{
/* border: 2px solid red; */
 box-shadow: inset  0px 0px 50px orange;
}

/* social logo */
.social-logo{
    font-size: 25px;
    padding-top: 10px;
    position: static;
}
@media (max-width: 560px){

    .banner-section,.banner-content{
        height: 600px;
    }
}